{lib_dirs, ["deps"]}.
{erl_opts, [debug_info, {i, "../bitcask/include"}, {i, "../hanoidb/include"}, {i, "deps/bitcask/include"}, {i, "deps/hanoidb/include"}, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, []}.
{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {hanoidb, "1.3.*", {git, "https://github.com/Licenser/hanoidb.git", {branch, "fifo"}}},
  {eleveldb, "2.*", {git, "https://github.com/project-fifo/eleveldb.git", {branch, "mmap_size_option"}}},
  {bitcask, ".*", {git, "https://github.com/basho/bitcask.git", {tag, "1.6.1"}}}
 ]}.
