{lib_dirs, ["deps"]}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, []}.
{deps,
 [
  {lager, "3.0.2"},
  {erocksdb, {git, "https://github.com/project-fifo/erocksdb.git", {branch, "SmartOS"}}},
  {eleveldb, "2.1.3"}
 ]}.

{overrides,
  [{override, erocksdb,
   [{pre_hooks, [{compile, "c_src/build_deps.sh get-deps"},
                 {compile, "c_src/build_deps.sh"}]},

    {post_hooks, [{clean, "c_src/build_deps.sh clean"}]},
    {plugins, [pc]},
    {provider_hooks,
     [{post,
       [{compile, {pc, compile}},
        {clean, {pc, clean}}]}]}]}]}.
